!!!
%html
  %head
    %title= 'Tweet checker'
    %link{:rel => 'stylesheet', :href => url('/css/inuit.css'), :type => 'text/css'}
    %link{:rel => 'stylesheet', :href => url('/css/grid.inuit.css'), :type => 'text/css'}
  %body.wrapper
    = yield
